/* Centrar el formulario */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom,  #000000, #00008B, #FFD700,black); /* Cambia los colores del gradiente según tus preferencias */
  color: white;
}

.login-container {
  padding: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 500px;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form .form-group:last-child {
  margin-bottom: 0;
}
