.custom-navbar {
  position: relative;
  z-index: 9999;
}

footer{
  position: fixed; /* Cambia la posición a absoluta */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 100px;
}


footer .copyright{
  color: #FFFFFF;
  font-size: 13px;
  margin:  20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header {
    margin-bottom: 1rem;
  }

  .upper-images-container {
    margin-top: 1rem;
  }

  footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
