.container{
  padding: 30px;
  position: relative; /* Agrega posición relativa al contenedor */
  min-height: calc(100vh - 100px);
}
.card-title{
  color: #FFFFFF;
  font-weight: bold;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
}
.text-muted{
  color:#FFFFFF ;
}
.card-text{
  font-weight:bolder;
  color: #FFFFFF;
}

.card-img-top {
  height: 300px;; /* Ajusta la altura máxima de la imagen */
  object-fit: contain; /* Hace que la imagen se ajuste al contenedor sin deformarse */
}

.col-md-4 {
  max-width: 350px; /* Ajusta el ancho máximo de las tarjetas */
}

.card {
  transition: transform 0.3s;
  background-color: black;
  border: solid yellow;
}

.card:hover {
  transform: scale(1.1);
  z-index: 2;
}
.botonEditar {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Avaible{
  text-decoration: wavy;
  color: #FFFFFF;
  font-size:xx-large;
  font-weight: 800;
}
.dark-bg {
  background: linear-gradient(to bottom, rgb(17, 15, 15), darkblue, black);
}
