<div class="container my-5">
  <h1 class="text-center">Agregar nuevo evento</h1>

  <div class="row">
    <div class="col-6 mx-auto">
      <form #form="ngForm" (ngSubmit)="CrearEvento()" class="d-flex flex-column">

        <div class="mb-3">
          <label for="imagen" class="form-label">Url de la imagen<span class="required-field">*</span></label>
          <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="crearEventoRequest['imagen']" required>
          <div *ngIf="form.controls['imagen'].invalid && (form.controls['imagen'].dirty || form.controls['imagen'].touched)" class="text-danger">
            Campo obligatorio
          </div>
        </div>

        <div class="mb-3">
          <label for="fecha" class="form-label">Fecha<span class="required-field">*</span></label>
          <input type="date" class="form-control" id="fecha" name="fecha" [(ngModel)]="crearEventoRequest['fecha']" required>
          <div *ngIf="form.controls['fecha'].invalid && (form.controls['fecha'].dirty || form.controls['fecha'].touched)" class="text-danger">
            Campo obligatorio
          </div>
        </div>

        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre del evento<span class="required-field">*</span></label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="crearEventoRequest['nombre']" required>
          <div *ngIf="form.controls['nombre'].invalid && (form.controls['nombre'].dirty || form.controls['nombre'].touched)" class="text-danger">
            Campo obligatorio
          </div>
        </div>

        <div class="mb-3">
          <label for="lugar" class="form-label">Lugar<span class="required-field">*</span></label>
          <input type="text" class="form-control" id="lugar" name="lugar" [(ngModel)]="crearEventoRequest['lugar']" required>
          <div *ngIf="form.controls['lugar'].invalid && (form.controls['lugar'].dirty || form.controls['lugar'].touched)" class="text-danger">
            Campo obligatorio
          </div>
        </div>

        <div class="mb-3">
          <label for="CantidadTicket" class="form-label">Cantidad de Tickets<span class="required-field">*</span></label>
          <input type="number" class="form-control" id="CantidadTicket" name="CantidadTicket" [(ngModel)]="crearEventoRequest['cantidadTicket']" required>
          <div *ngIf="form.controls['CantidadTicket'].invalid && (form.controls['CantidadTicket'].dirty || form.controls['CantidadTicket'].touched)" class="text-danger">
            Campo obligatorio
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>

      </form>
    </div>
  </div>
</div>
